<body>

  <main class="container-fluid">
    <div class="row my-3">

      {{! <div class="row col"> }}
      <div class="col col-12 col-sm-6">

        <h1> About Product</h1>
        <p>Are you looking for a product that can allow your customers to
          request an appointment time that works for them? This scheduler will
          allow you to assign an employee to any meeting that your client
          request. The layout is customizable upon request and is designed to
          have security in mind for your clients.</p>
      </div>

      <div class="col col-0 col-sm-6">

        <img src="/image/dog1.jpg" alt="Dog holding a flower" />
      </div>

      {{! </div> }}

    </div>
    {{#unless loggedIn}}
    <aside class="col-3 fixed-bottom">
      <button type="button" id="signup-btn"class="btn btn-lg signUp">New to the Calendar? Sign
        Up</button>
    </aside>
    {{/unless}}
  </main>

</body>
{{#unless loggedIn}}
<script src="/js/homepage.js"></script>
{{/unless}}