<body>

  <main class="container-fluid">
    <div class="row my-3">

      {{! <div class="row col"> }}
      <div class="col col-12 col-sm-6">

        <h1> About Product</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
          saepe facilis fuga reiciendis exercitationem laboriosam expedita
          similique ipsam quos. Fugit aperiam consequuntur dolorum iure ex ipsum
          asperiores quia eaque minima quaerat? Enim quod ipsa corrupti beatae
          dolorem tempora culpa eum quisquam tenetur minima odio, minus ea! Rem
          saepe error ullam, accusantium in explicabo fugit molestiae modi
          velit, pariatur exercitationem. Nam sunt repudiandae repellendus culpa
          libero, voluptas aliquid quis rerum minus molestiae voluptate ducimus?
          Ut rerum aliquid impedit totam sint possimus, voluptatibus quis sunt!
          Recusandae impedit hic corporis. Modi corporis, eligendi similique
          delectus officiis quo voluptates, iusto incidunt velit expedita
          quisquam quasi nulla sunt vero dolor repudiandae error! Ut ad
          reiciendis possimus dicta sint praesentium, eaque quos quia officia
          voluptate quod commodi libero molestias magnam. Dignissimos minima
          tenetur ratione officia consequuntur similique animi magni fugit nam,
          dolorem, ducimus natus. Beatae commodi labore, incidunt consequatur
          officia inventore veritatis modi suscipit fugiat atque. Numquam atque
          repudiandae error quis quidem nisi illum, quas pariatur explicabo
          suscipit totam sint eum alias similique amet architecto corrupti
          commodi aut eligendi incidunt! Possimus ratione accusantium temporibus
          reiciendis fugit eum animi repudiandae iure aperiam tenetur nesciunt
          placeat, officiis ducimus quia natus, vitae nostrum optio? Sit illo
          eum mollitia!</p>
      </div>

      <div class="col col-0 col-sm-6">

        <img src="/image/dog1.jpg" alt="Dog holding a flower" />
      </div>

      {{! </div> }}

    </div>
    <aside class="col-3 fixed-bottom">
      <button type="button" class="btn btn-lg signUp">New to the Calendar? Sign
        Up</button>
    </aside>
  </main>

</body>