<div class="container">
  <section class="card my-3" style="max-width:800px">
    <div class="card-header">
      <h2>Sign Up</h2>
    </div>
    <form id="signup-form" class="card-body d-flex flex-column align-items-center">
      <div class="d-flex mb-3" >
        <fieldset class="d-flex flex-column" >
        <label for="firstName" >First Name:</label>
        <input name="firstName" type="text" id="firstName"/>
        </fieldset>
      </div>
      <div class="d-flex mb-3">
        <fieldset class="d-flex flex-column">
        <label for="lastName" >Last Name:</label>
        <input name="lastName" type="text" id="lastName" />
        </fieldset>
      </div>
      <div class="d-flex mb-3">
        <fieldset class="d-flex flex-column">
        <label for="email-signup" >Email:</label>
        <input name="email-signup" type="email" id="email-signup" />
        </fieldset>
      </div>
      <div class="d-flex mb-3">
        <fieldset class="d-flex flex-column" >
        <label for="password-signup" >Password:</label>
        <input id="password-signup" type="password"  />
        </fieldset>
      </div>
      <div class="d-flex mb-3">
        <fieldset class="d-flex flex-column" >
        <label for="passConfirm" >Password Confirm:</label>
        <input id="passConfirm" type="password"  />
        </fieldset>
      </div>
      <div>
        <button
          type="submit"
          id="signup-btn"
          class="btn btn-primary my-3"
        >Create account</button>
      </div>
    </form>
  </section>
</div>

<script src="/js/signup.js"></script>