<div class="container">
  <section class="card my-3">
    <div class="card-header">
      <h2>Sign Up</h2>
    </div>
    <form
      id="login-form"
      class="card-body d-flex flex-column align-items-center"
    >
      <div class="d-flex mb-3">
        <label for="firstName" style="width: 100;">First Name:</label>
        <input name="firstName" type="password" id="firstName" />
      </div>
      <div class="d-flex mb-3">
        <label for="lastName" style="width: 100;">Last Name:</label>
        <input name="lastName" type="password" id="lastName" />
      </div>
      <div class="d-flex mt-3">
        <label for="email-signup" style="width: 100;">Email:</label>
        <input name="email-signup" type="text" id="email-input" />
      </div>
      <div class="d-flex mb-3">
        <label for="password-signup" style="width: 100;">Password:</label>
        <input name="password-signup" type="password" id="password-input" />
      </div>
      <div class="d-flex mb-3">
        <label for="password-confirm" style="width: 100;">Password Confirm:</label>
        <input name="password-confirm" type="password" id="password-comfirm" />
      </div>
      <div>
        <button
          type="submit"
          id="login-btn"
          class="btn btn-primary my-3"
        >Login</button>
      </div>

    </form>
  </section>
</div>

<script src="/js/signup.js"></script>